// breakpoint
$breakpoint-small: 576px; // mobile
$breakpoint-medium: 768px; // tablet
$breakpoint-large: 1200px; // 큰 데스크탑

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: #{$breakpoint-small}) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: #{$breakpoint-small + 1}) and (max-width: #{$breakpoint-medium}) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: #{$breakpoint-large + 1}) {
      @content;
    }
  }
}

@mixin layout-width {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@mixin flex-layout($direction: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin flex-alignment($justify: flex-start, $align: stretch, $content: stretch) {
  place-content: $content $justify;
  align-items: $align;
}

@mixin box-style {
  position: relative;
  padding: 1rem;
  margin: 0;
}
