:root {
  --text-color: #000;
  --border-radius: 12px;
  --background-color: 238, 240, 241;
  --border-color: 172, 175, 176;
}

html[data-theme='light'] {
  --color-text: #000;
  --background-color: 238, 240, 241;
  --border-color: 172, 175, 176;
  --border-radius: 12px;
}

html[data-theme='dark'] {
  --color-text: #fff;
}
