@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");

body {
  overflow: hidden;
}

.tab {
  position: relative;
  width: 100%;
  height: 100%;

  &-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    font-weight: 900;
    color: #ff5544;
  }

  &-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.section {
  color: #fff;
  background-color: #0d0d0d;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #ffffff;
  z-index: 2;
}
