@import 'https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap';

.tab {
  position: relative;
  width: 100%;
  height: 100%;

  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #f54;
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;

    li {
      padding: 5px 15px;
      width: fit-content;
      background-color: #000;
      text-align: right;
    }
  }

  &-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

/* Slider 01 */

.slider01 {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
}

.slider01-info p {
  font-weight: 500;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.slider01-canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider01-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  padding: 0 2rem;
  width: 100%;
  color: #fff;
  transform: translateY(-50%);
}

/* Slider 02 */
.slider02 {
  min-height: 100vh;
}

#slider02-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  outline: none;
}

.slider02-hero {
  padding-left: 20px;
  border-bottom: 2px solid #000;

  p:first-of-type {
    padding-top: 50px;
    padding-bottom: 35px;
    font-weight: 900;
    font-size: 12vw;
  }

  p:last-of-type {
    padding-bottom: 35px;
    font-size: 5vw;
  }
}

.slider02 {
  &-wrap {
    overflow: visible;
  }

  &-content {
    display: flex;
    padding: 50px 20px;
    border-bottom: 2px solid #000;

    &-img {
      width: calc(50% - 40px);

      img {
        opacity: 0;
        width: 100%;
      }
    }
  }

  &-description {
    padding: 15px 30px;
    width: calc(50% + 40px);

    p:nth-of-type(1) {
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
    }

    h2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    p:nth-of-type(2) {
      padding: 2rem 0;
      max-width: 700px;
      font-weight: 700;
      font-size: 1.25rem;
    }

    p:nth-of-type(3) {
      max-width: 700px;
      font-size: 1rem;
    }
  }

  &-footer {
    padding: 2rem;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
  }
}

.slider03 {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100svh;
  background-color: #e0ddcf;

  &-title {
    position: absolute;
    top: 50%;
    left: 3rem;
    width: max-content;
    color: #fff;
    transform: translate(0%, -50%);

    p {
      font-weight: 500;
      font-size: clamp(2rem, 4vw, 6rem);
      line-height: 1.25;
      letter-spacing: -2%;
    }
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
  }

  &-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 3rem;
    width: 15%;
    min-width: 250px;
    color: #fff;
    transform: translate(0%, -50%);
  }

  .char,
  .line {
    display: inline-block;
    will-change: trasnform;
    position: relative;
  }
}

@media (width <= 1000px) {
  .slider03 {
    &-title {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-description {
      top: unset;
      bottom: 5%;
      left: 50%;
      width: 75%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
