@use 'variables' as *;
@use 'mixin' as mixin;

.theme {
  @include mixin.flex-layout(row, nowrap);
  @include mixin.flex-alignment(center, center);
  @include mixin.box-surface(var(--radius-medium));

  padding: var(--spacing-small);
  cursor: pointer;

  svg {
    width: 1rem;
    fill: var(--color-text);
    stroke: var(--color-text);
  }
}
