@use "variables" as *;
@use "mixin" as mixin;

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-display: swap;
  background-color: var(--background);
  color: var(--text-color);
}

.wrap {
  @include mixin.flex-layout(column, nowrap);
  height: 100%;
  position: relative;

  @include mixin.media(medium) {
    padding: var(--spacing-xlarge);
  }
}

/* header */
.header {
  @include mixin.layout-width;
  @include mixin.flex-layout(row, nowrap);
  @include mixin.flex-alignment(space-between, normal, normal);

  padding-top: 100px;
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);

  &-nav {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(center, center, normal);

    gap: 1rem;
    font-size: 12px;
  }
}

.main {
  @include mixin.layout-width;

  width: 100%;
  height: fit-content;
  flex: 1;
  // margin-bottom: 200px;
  &-content {
    canvas {
      height: 500px;
    }
  }
  &-content-area {
    position: relative;
    padding: 1rem;
    font-size: 14px;
    background-color: rgba(var(--background-color), 0.5);
    border: 1px solid rgba(var(--border-color), 0.3);
    border-radius: var(--border-radius);
  }

  &-archive {
    .post-section {
      position: relative;
      width: 100%;
      height: 100%;

      &-inner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 9999;
      }
    }
  }
}

.category {
  @include mixin.layout-width;

  &-area {
    @include mixin.flex-layout(row, nowrap);

    gap: 1rem;
  }

  &-item {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(center, center, normal);

    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 8px;

    &.active {
      // background-color: rgb(214 219 220);
      background-color: rgba(var(--background-color), 0.5);
      border: 1px solid rgba(var(--border-color), 0.3);
    }

    h1 {
      font-size: 14px;
    }

    .icon-arrow {
      position: relative;
      width: 10px;
      margin-left: 4px;
      top: 1px;
    }
  }
}

footer {
  @include mixin.layout-width;
  @include mixin.flex-layout(row, nowrap);
  @include mixin.flex-alignment(center, center, normal);

  margin-top: var(--spacing-xxlarge);
  padding-bottom: var(--spacing-xxlarge);
  font-size: 12px;
  gap: 10px;
  color: var(--text-color);

  svg {
    position: relative;
    top: 1px;
    width: 8px;
    margin-left: 4px;
  }

  ul {
    @include mixin.flex-layout(row, nowrap);

    li a {
      @include mixin.flex-layout(row, nowrap);
    }
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
}
