@use "variables" as *;
@use "mixin" as mixin;

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.wrap {
  @include mixin.flex-layout(column, nowrap);
  height: 100%;
  position: relative;

  @include mixin.media(small) {
    padding: var(--spacing-large);
  }

  @include mixin.media(medium) {
    padding: var(--spacing-xlarge);
  }
}

.wrap-lab {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* header */
.header {
  @include mixin.layout-width;
  @include mixin.flex-layout(row, nowrap);
  @include mixin.flex-alignment(space-between, center);

  padding-top: 100px;
  margin-bottom: var(--spacing-medium);
  color: var(--color-text);

  &-nav {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(center, center);

    gap: 1rem;
    font-size: 12px;
  }
}

.main {
  @include mixin.layout-width;

  height: fit-content;
  flex: 1;
  // margin-bottom: 200px;
  &-content {
    canvas {
      height: 500px;
    }
  }
  &-content-area {
    @include mixin.box-surface(var(--radius-large));

    position: relative;
    padding: 1rem;
    font-size: 14px;
  }
}

.category {
  @include mixin.layout-width;

  &-area {
    @include mixin.flex-layout(row, nowrap);

    gap: 2.5rem;

    @include mixin.media(xsmall) {
      gap: 1.75rem;
    }
  }

  &-item {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(center, center);

    font-family: JetBrainsMono;
    font-size: 14px;
    border-radius: var(--radius-medium);
    font-weight: 500;

    &.active {
      background-color: var(--color-surface);
      border: 1px solid var(--color-border);
    }

    h1 {
      font-family: JetBrainsMono;
      font-size: 14px;
      font-weight: 500;
    }

    .icon-arrow {
      position: relative;
      width: 10px;
      margin-left: 4px;
      top: 1px;
    }
  }
}

footer {
  @include mixin.layout-width;
  @include mixin.flex-layout(row, nowrap);
  @include mixin.flex-alignment(center, center);

  margin-top: var(--spacing-xxlarge);
  padding-bottom: var(--spacing-xxlarge);
  font-size: 12px;
  gap: 10px;
  color: var(--color-text-muted);

  svg {
    position: relative;
    top: 1px;
    width: 8px;
    margin-left: 4px;
  }

  ul {
    @include mixin.flex-layout(row, nowrap);

    li a {
      @include mixin.flex-layout(row, nowrap);
    }
  }
}

.about {
  &-intro {
    @include mixin.flex-layout(column, nowrap);
    gap: var(--spacing-small);

    p {
      font: var(--body-3-regular);
    }
  }

  &-career {
    @include mixin.flex-layout(column, nowrap);
    gap: var(--spacing-large);
    font: var(--body-4-regular);
    margin: var(--spacing-xxxlarge) 0;

    &-item {
      @include mixin.flex-layout(row, nowrap);
      gap: var(--spacing-large);

      div {
        font: var(--body-4-regular);

        &:first-of-type {
          @include mixin.flex-layout(column, nowrap);
          white-space: nowrap;
        }
      }
    }

    &-title {
      font: var(--body-4-bold);
    }

    &-company {
      font: var(--body-4-bold);
    }

    &-period {
      color: var(--color-text-muted);
      font-size: 12px;
    }
  }

  &-resume {
    text-align: center;
    margin-bottom: var(--spacing-xxlarge);
  }
}
