@mixin font-face($family, $weight, $file, $format: 'woff') {
  @font-face {
    font-style: normal;
    font-weight: $weight;
    font-family: $family;
    src:
      local($family),
      url('/font/#{$file}') format($format);
    font-display: swap;
  }
}

// breakpoint
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px; // mobile
$breakpoint-medium: 768px; // tablet
$breakpoint-large: 1200px; // 큰 데스크탑

@mixin media($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: #{$breakpoint-xsmall}) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: #{$breakpoint-small}) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: #{$breakpoint-small + 1}) and (max-width: #{$breakpoint-medium}) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: #{$breakpoint-large + 1}) {
      @content;
    }
  }
}

@mixin layout-width {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

@mixin flex-layout($direction: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin flex-alignment($justify: flex-start, $align: normal) {
  align-items: $align;
  justify-content: $justify;
}

@mixin box-surface($radius: var(--radius-medium)) {
  border: 1px solid var(--color-border);
  border-radius: $radius;
  background-color: var(--color-surface);
}
