@use "variables" as *;
@use "mixin" as mixin;

.post-gallery {
  padding: 0;
  overflow: hidden;

  .post-item {
    padding: var(--spacing-medium) 0 var(--spacing-medium);
    border-bottom: 1px solid var(--color-border);

    &:last-of-type {
      border-bottom: none;
    }

    &_list {
      @include mixin.flex-layout(row, nowrap);
      gap: var(--spacing-xxlarge);
      cursor: pointer;

      &.active {
        .post-item_thumbnail {
          aspect-ratio: 1 / 1;
        }

        .post-item_description {
          opacity: 1;
        }

        .post-item_link a {
          transition: color 0.3s ease;
        }
      }
    }

    &_left {
      @include mixin.flex-layout(column);
      @include mixin.flex-alignment(space-between, flex-start);
      color: var(--color-text);
      flex: 2 0 0px;
      position: relative;
      align-self: stretch;
    }

    &_title {
      font-size: 1.5rem;
      font-family: "JetBrainsMono";
      letter-spacing: -0.05em;
    }

    &_description {
      width: 100%;
      opacity: 0;
      font: var(--body-4-regular);
      @include mixin.flex-layout(row, nowrap);
      gap: var(--spacing-medium);
      transition: opacity 0.4s ease;
      font-size: 13px;
    }

    &_link a:hover {
      color: var(--color-orange-500);
    }

    &_tags {
      @include mixin.flex-layout(row, nowrap);
      gap: var(--spacing-small);
      flex: 1;
      padding-left: var(--spacing-medium);
      font-family: "JetBrainsMono";
      font-size: 13px;
      color: var(--color-text-muted);
    }

    &_thumbnail {
      position: relative;
      @include mixin.flex-layout(row);
      @include mixin.flex-alignment(center, center);
      flex: 1.3 0 0px;
      aspect-ratio: 1.6 / 1;
      overflow: hidden;
      transition: aspect-ratio 0.4s ease;

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-position: center center;
        object-fit: cover;
      }
    }

    &_image {
      aspect-ratio: 1.3333 / 1;
      flex: 0 0 auto;
      height: 300px;
      left: 50%;
      overflow: visible;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 1;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50% 0px;
      opacity: 1;
    }
  }
}

.post-list {
  .post-item {
    position: relative;
    padding: var(--spacing-medium) 0 var(--spacing-medium);
    border-bottom: 1px solid var(--color-border);

    &:last-of-type {
      border-bottom: none;
    }

    &_text {
      color: var(--color-text);
      margin-bottom: var(--spacing-xsmall);
    }

    &_date {
      color: var(--color-text-muted);
      font-size: 12px;
    }
  }
}

.post {
  position: relative;
  width: 100%;
  padding: var(--spacing-large) 0 var(--spacing-xxxlarge);
  border-bottom: 1px solid var(--color-border);

  &-header {
    width: 100%;
    margin-bottom: var(--spacing-xxxlarge);
    padding-bottom: var(--spacing-xxxlarge);
    border-bottom: 1px dotted var(--color-border);
  }

  &-title {
    margin-bottom: var(--spacing-large);
    font: var(--post-heading);
    color: var(--color-text);

    &_text {
      font: var(--heading-2-bold);
      line-height: 2rem;
    }
  }

  &-info {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(space-between, center);

    color: var(--color-text-muted);
    font-size: 12px;
    gap: var(--spacing-xsmall);
  }
}

.post-body {
  width: 100%;
  font: var(--post-body);
  color: var(--color-text);

  h1 {
    font: var(--post-heading);
  }

  h2 {
    margin-top: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-medium);
    font: var(--post-heading);
  }

  h3 {
    margin-top: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-medium);
    font: var(--post-heading);
  }

  hr {
    height: 1px;
    margin-top: var(--spacing-xxlarge);
    margin-bottom: var(--spacing-xxlarge);
    background-color: var(--color-border);
    border: 0;
  }

  p {
    margin-bottom: var(--spacing-medium);
  }

  a {
    color: var(--color-accent);
    padding: 0 var(--spacing-xsmall);
    border-radius: var(--radius-small);

    &.external-link:after {
      content: "";
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin-left: 0.25em;
      background-image: url("/icon/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: var(--color-surface-hover);
    }
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: var(--spacing-medium);
  }

  ol {
    --counter-space: 12px;
    counter-reset: basics-ol;
    padding: 0;
    list-style-type: none;
    margin-bottom: var(--spacing-medium);

    li {
      &:before {
        min-width: var(--counter-space);
        margin-right: var(--counter-space);
        font-feature-settings: "tnum" 1;
        color: var(--color-text-muted);
        text-align: right;
        letter-spacing: -0.05em;
        content: counter(basics-ol) ". ";
        counter-increment: basics-ol;
        -webkit-user-select: none;
        user-select: none;
        justify-content: flex-end;
        align-items: center;
        line-height: normal;
        display: inline-flex;
      }
    }
  }

  table {
    border: 1px solid var(--color-border);
    border-spacing: 0px;

    th,
    td {
      padding: var(--spacing-xsmall) var(--spacing-small);
    }

    th {
      border-bottom: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);

      &:last-of-type {
        border-right: none;
      }
    }

    td {
      border-right: 1px solid var(--color-border);

      &:last-of-type {
        border-right: none;
      }
    }
  }

  blockquote {
    color: var(--color-text-muted);
    border-left: 4px solid var(--color-border);
    margin: 1.75rem 0;
    padding-left: 1rem;
    font-weight: 400;
  }

  mark {
    background-color: var(--color-surface);
    padding: 0 var(--spacing-xsmall);
    border-radius: var(--radius-small);
  }

  code {
    color: var(--color-accent);
    background-color: var(--color-surface);
    font-size: 85%;
    padding: 0.2em 0.4em;
    border-radius: var(--radius-small);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// code block
.post-code {
  background-color: var(--color-surface);
  padding: var(--spacing-large);
  line-height: 1.4;
  margin-bottom: var(--spacing-large);
  border-radius: var(--radius-medium);
  overflow-x: auto;
  white-space: pre;

  code {
    background-color: transparent;
  }

  span {
    background-color: transparent;
  }
}

.toc {
  position: absolute;
  left: 100%;
  height: 100%;

  &-container {
    position: sticky;
    top: 100px;
    width: 200px;
    padding: var(--spacing-medium);
    margin-left: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-xxxlarge);
    border-left: 4px solid var(--color-border);
    transition: all 0.2s;
    font: var(--post-body);
  }

  &-list {
    margin-bottom: var(--spacing-xsmall);
  }

  &-link {
    color: var(--color-text-muted);
    font: var(--body-4-regular);
    display: block;

    &:hover {
      color: var(--color-accent);
    }
  }

  a[data-depth="3"] {
    text-indent: var(--spacing-small);
  }

  a[data-depth="4"] {
    display: none;
  }

  @media (width < 1300px) {
    position: relative;
    left: unset;

    &-container {
      position: relative;
      margin-left: 0;
      top: unset;
      width: 100%;
    }
  }
}
