@use "variables" as *;
@use "mixin" as mixin;

.post {
  position: relative;
  width: 100%;
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-xxxlarge);
  border-bottom: 1px solid rgba(var(--border-color), 0.3);

  &-label {
    padding-bottom: 0.75rem;
    font-size: 12px;
    border-bottom: 1px solid #d6dbdc;
  }

  &-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #d6dbdc;

    &:last-of-type {
      border-bottom: none;
    }

    &_link {
      color: var(--color-gray-900);
    }

    &_date {
      color: var(--color-gray-700);
      font-size: 12px;
    }
  }

  &-header {
    width: 100%;
    margin-bottom: var(--spacing-xxxlarge);
    padding-bottom: var(--spacing-xxxlarge);
    border-bottom: 1px dotted var(--color-gray-500);
  }

  &-title {
    margin-bottom: var(--spacing-large);
    font: var(--post-heading);
    color: var(--text-color);

    &_text {
      font: var(--heading-2-bold);
      line-height: 2rem;
    }
  }

  &-info {
    @include mixin.flex-layout(row, nowrap);
    @include mixin.flex-alignment(space-between, center);

    color: var(--color-gray-700);
    font-size: 12px;
    gap: var(--spacing-xsmall);
  }
}

.post-body {
  width: 100%;
  font: var(--pose-body);
  color: var(--text-color);

  h1 {
    font: var(--post-heading);
  }

  h2 {
    margin-top: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-medium);
    font: var(--post-heading);
  }

  h3 {
    margin-top: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-medium);
    font: var(--post-heading);
  }

  hr {
    height: 1px;
    margin-top: var(--spacing-xxlarge);
    margin-bottom: var(--spacing-xxlarge);
    background-color: var(--color-gray-400);
    border: 0;
  }

  p {
    margin-bottom: var(--spacing-medium);
  }

  a {
    color: var(--color-orange-500);
    padding: 0 var(--spacing-xsmall);
    border-radius: 4px;

    &.external-link:after {
      content: "";
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      margin-left: 0.25em;
      background-image: url("/icon/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: var(--color-gray-300);
    }
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: var(--spacing-medium);
  }

  ol {
    --counter-space: 12px;
    counter-reset: basics-ol;
    padding: 0;
    list-style-type: none;
    margin-bottom: var(--spacing-medium);

    li {
      &:before {
        min-width: var(--counter-space);
        margin-right: var(--counter-space);
        font-feature-settings: "tnum" 1;
        color: var(--gray-300);
        text-align: right;
        letter-spacing: -0.05em;
        content: counter(basics-ol) ". ";
        counter-increment: basics-ol;
        -webkit-user-select: none;
        user-select: none;
        justify-content: flex-end;
        align-items: center;
        line-height: normal;
        display: inline-flex;
      }
    }
  }

  table {
    border: 1px solid var(--color-gray-400);
    border-spacing: 0px;
    th,
    td {
      padding: var(--spacing-xsmall) var(--spacing-small);
    }

    th {
      border-bottom: 1px solid var(--color-gray-400);
      border-right: 1px solid var(--color-gray-400);

      &:last-of-type {
        border-right: none;
      }
    }
    td {
      border-right: 1px solid var(--color-gray-400);

      &:last-of-type {
        border-right: none;
      }
    }
  }

  blockquote {
    color: var(--color-gray-700);
    border-left: 4px solid var(--color-gray-400);
    margin: 1.75rem 0;
    padding-left: 1rem;
    font-weight: 400;
  }

  mark {
    background-color: var(--color-gray-300);
    padding: 0 var(--spacing-xsmall);
    border-radius: 4px;
  }
}

// code block 설정
.post-code {
  background-color: var(--color-gray-50);
  padding: var(--spacing-large);
  line-height: 0.9;
  margin-bottom: var(--spacing-large);
  border-radius: var(--spacing-small);
}

.toc {
  position: absolute;
  left: 100%;
  // height: calc(100% + 150px);
  height: 100%;

  &-container {
    position: sticky;
    top: 100px;
    width: 200px;
    padding: var(--spacing-medium);
    margin-left: var(--spacing-xxxlarge);
    margin-bottom: var(--spacing-xxxlarge);
    // background-color: rgba(var(--background-color), 0.5);
    border-left: 4px solid rgba(var(--border-color), 0.3);
    transition: all 0.2s;
  }

  &-list {
    margin-bottom: var(--spacing-xsmall);
  }

  &-link {
    color: var(--color-gray-700);
    font-size: 14px;
    display: block;
    &:hover {
      color: var(--color-orange-500);
    }
  }

  a[data-depth="3"] {
    text-indent: var(--spacing-small);
  }

  a[data-depth="4"] {
    display: none;
  }

  @media (width < 1300px) {
    position: relative;
    left: unset;

    &-container {
      position: relative;
      margin-left: 0;
      top: unset;
      width: 100%;
    }
  }
}
