@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Pretendard;
  src: local("Pretendard"),
    url("/font/Pretendard-Bold.subset.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: Pretendard;
  src: local("Pretendard"),
    url("/font/Pretendard-SemiBold.subset.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: Pretendard;
  src: local("Pretendard"),
    url("/font/Pretendard-Medium.subset.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Pretendard;
  src: local("Pretendard"),
    url("/font/Pretendard-Regular.subset.woff") format("woff");
  font-display: swap;
}

:root {
  --sh-identifier: #354150;
  --sh-keyword: #f47067;
  --sh-string: #00a99a;
  --sh-class: #8d85ff;
  --sh-property: #4e8fdf;
  --sh-entity: #6eafad;
  --sh-jsxliterals: #bf7db6;
  --sh-sign: #8996a3;
  --sh-comment: #a19595;

  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #eee;
  --color-gray-300: #ddd;
  --color-gray-400: #ccc;
  --color-gray-500: #999;
  --color-gray-600: #757575;
  --color-gray-700: #666;
  --color-gray-800: #333;
  --color-gray-900: #1c1c1c;
  --color-orange-500: #f54;

  /* spacing */
  --spacing-none: 0;
  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-xlarge: 25px;
  --spacing-xxlarge: 30px;
  --spacing-xxxlarge: 60px;

  /* font */
  --family: "pretendard", sans-serif;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /* Typography */
  --heading-1: 30px / 1.4124 var(--family);
  --heading-2: 24px / 1.4124 var(--family);
  --body-1: 20px / 1.3 var(--family);
  --body-2: 18px / 1.3333 var(--family);
  --body-3: 16px / 1.375 var(--family);
  --body-4: 15px / 1.4124 var(--family);
  --heading-0-bold: var(--weight-700) var(--heading-0);
  --heading-1-bold: var(--weight-700) var(--heading-1);
  --heading-1-regular: var(--weight-400) var(--heading-1);
  --heading-2-bold: var(--weight-700) var(--heading-2);
  --heading-2-regular: var(--weight-400) var(--heading-2);
  --body-1-bold: var(--weight-700) var(--body-1);
  --body-1-regular: var(--weight-400) var(--body-1);
  --body-2-bold: var(--weight-700) var(--body-2);
  --body-2-regular: var(--weight-400) var(--body-2);
  --body-3-bold: var(--weight-700) var(--body-3);
  --body-3-regular: var(--weight-400) var(--body-3);
  --body-4-bold: var(--weight-700) var(--body-4);
  --body-4-regular: var(--weight-400) var(--body-4);

  --post-heading: var(--weight-600) 1.44rem / 1.2 var(--family);
  --pose-body: var(--weight-400) 1rem / 1.75 var(--family);
}

@media (width <= 500px) {
  :root {
    --heading-1: 24px / 1.4124 var(--family);
    --heading-2: 20px / 1.3 var(--family);
    --body-1: 18px / 1.3333 var(--family);
    --body-2: 16px / 1.375 var(--family);
    --body-3: 14px / 1.4286 var(--family);
    --body-4: 13px / 1.5385 var(--family);

    --post-heading: var(--weight-600) 1.266rem / 1.2 var(--family);
  }
}

html[data-theme="light"] {
  --text-color: var(--color-gray-900);
  --background: #fafafa;
  --border-radius: 12px;
  --background-color: 238, 240, 241;
  --border-color: 172, 175, 176;

  *::selection {
    background-color: var(--color-gray-300);
    color: var(--color-gray-800);
  }
}

html[data-theme="dark"] {
  --text-color: var(--color-gray-300);
  --background: #1a1a1a;

  *::selection {
    background-color: var(--color-gray-300);
    color: var(--color-gray-800);
  }
}
